.block {
    font-size: 14px;
    line-height: 1.5;
    height: 337px;
    color: rgba(0, 0, 0, .65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 2px;
    position: relative;
    border-radius: 10px;
    margin: auto 0px;
    line-height: 39.5px;
    /* width: 650px; */
}

.block:hover{
  color: rgba(0, 0, 0, 0.493);
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  -ms-transition: color .5s;
  transition: color .5s;
}

.header {
    background: transparent;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-height: 48px;
}

.title {
    font-size: 30px;
    padding: 16px 0;
    letter-spacing: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, .85);
    font-weight: 600;
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.content {
    font-size: 20px;
    padding: 50px 24px;
    zoom: 1;
}
