.loading {
    text-align: center;
    background: rgba(141, 141, 141, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 150px 50px;
    margin: 20px 0;
}

.compare>div {
    /* border: solid #EDAE49; */
    background-Color: #EDAE49;
}

.cprogress>div>*{
  width: 100%;
}

.fifity>*>path{
  stroke: #f3e410 !important;
}
