.pic {
    background-image: url('assets/welpic.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    color: blanchedalmond;
    height: 1100px;
}

.title {
    padding-top: 100px;
    width: 100%;
}

.back {
    background: -webkit-linear-gradient(top, rgb(0, 26, 48) 0%, rgb(41, 137, 216) 50%, rgb(186, 197, 211) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(0, 26, 48) 0%, rgb(41, 137, 216) 50%, rgb(186, 197, 211) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a30', endColorstr='#bac5d3', GradientType=0);
}

.mt {
    margin-top: 100px;
    margin-bottom: 100px;
}

.info {
    background-image: url('assets/info_bg.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    height: 500px;
    border-radius: 30px;
}

.cover {
    background-color: rgba(255, 255, 255, 0.319);
    z-index: 999;
    height: 100%;
    border-radius: 30px;
    padding: 80px 60px;
    text-align: right;
    line-height: 63px;
}

.cover>h2{
  font-weight: 600;
}

.mid {
    position: relative;
    left: 31%;
}

.carousel {
    width: 100% !important;
    height: 500px !important;
    border-radius: 10px;
    background: rgb(255, 253, 222) !important;
    overflow: hidden !important;
    padding-top: 70px;
    box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5);
}

.carouselcontent {
    color: #fff !important;
    padding: 30px;
}

.carouselcontent>h1 {
    font-size: 23px;
    color: #fff !important;
    text-align: center !important;
}

.app {
    background-repeat: no-repeat;
    height: 550px;
    border-radius: 30px;
    background-color: #D0CECE;
}

.app_phone {
  width: 220px;
  height: 350px;
  position: absolute;
  margin: 130px 90px;
  float: right;
}

.app_cover {
  background-color: rgba(255, 255, 255, 0.319);
  height: 100%;
  border-radius: 30px;
  padding: 0px 180px;
  text-align: left;
}

.back_triangle {
    position: relative;
    float: right;
    z-index: 20;
}

.step {
    position: absolute;
    height: 60px;
    margin: 0px -75px;
    width: 60px;
    cursor: pointer;
}

.step_text {
    font-size: 18px;
    color: rgb(73, 73, 73);
}

.step_text:hover {
    color: #FF8989;
}

.step_text::selection {
    background: #FF8989;
    color: white;
}

.function_picture {
    width: 240px;
    height: 248px;
    margin-bottom: 10px;
    text-align: center;
}

.function_back {
    /* background-image: url('/src//assets//background.png'); */
    background-repeat: no-repeat;
    /* position: relative; */
    /* height: 60vh; */
    /* background-attachment: fixed; */
    /* background-position: top center; */
    /* background-size: cover; */
    height: 450px;
    border-radius: 30px;
    background-color: #D0CECE;
}

.function_card {
    text-align: center;
    margin-top: 20px;
}

.function_text {
    font-size: 17px;
    text-align: left;
    color: rgb(133, 133, 133);
}

.function_text::selection {
    background: #FF8989;
    color: white;
}

.function_title {
    font-size: 26px;
    margin-bottom: 15px;
    color: rgb(31, 31, 31);
}

.function_title::selection {
    background: #FF8989;
    color: white;
}

.app_title {
  font-size: 35px;
  text-align: center;
  padding: 35px 0;
}

body {
    overflow-y: visible;
}
