.loginformregister {
  float: right;
  color: red;
}

.loginformregister:hover {
  color: #ff4d4f;
}

.loginformbutton {
  width: 100%;
}

.formtitle {
  text-align: center;
}

.loginform {
  max-width: 500px;
  padding: 15px 0 0px 0;
}
.loginformforgot {
  margin-right: 10px;
}

.loginformbutton {
  height: 40px;
  background-color: #215D91;
  width: 100%;
}
