.redbtn {
    color: #ff4d4f;
    background-color: #fff;
}

.bluebtn {
    color: #215D91;
    background-color: #fff;
}

.bluebtn_focus {
    color: #fff !important;
    background-color: #215D91 !important;
    border-color: #215D91 !important;
}

.redbtn_focus {
    color: #fff !important;
    background-color: #ff4d4f !important;
    border-color: #ff4d4f !important;
}

.containerfluid {
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

.containerfluid input {
    width: 300px;
}

@media only screen and (max-width:1200px) {
    .containerfluid {
      text-align: center;
        width: 75%;
    }
}

@media only screen and (max-width:768px) {}

.changeimg {
    position: absolute;
    z-index: 2;
    left: 55px;
    top: 15px;
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    background: rgba(0, 0, 0, 0.486);
    border: 0;
    border-radius: 1.6rem;
    color: rgba(255, 255, 255, 0.87);
    transition: background 0.25s ease;
}

.uploadPreview div {
    width: 100% !important;
    padding: 0 !important;
    height: auto !important;
}

.upload {
    position: absolute;
}

.uploadPlus div {
    width: 100%;
    padding: 150px 0 !important;
    -webkit-transition: .25;
}
