.registerformbutton {
    height: 40px;
    background-color: #215D91;
    width: 100%;
}

.formtitle {
    text-align: center;
}


.redbtn {
  color: #ff4d4f;
  background-color: #fff;
}

.bluebtn {
color: #215D91;
background-color: #fff;
}

.bluebtn:hover {
  color: #fff !important;
  background-color: #215D91 !important;
  border-color: #215D91 !important;
}

.bluebtn:focus {
  color: #fff !important;
  background-color: #215D91 !important;
  border-color: #215D91 !important;
}

.bluebtn_focus{
color: #fff !important;
background-color: #215D91 !important;
border-color: #215D91 !important;

}

.redbtn:hover {
  color: #fff !important;
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
}

.redbtn:focus {
  color: #fff !important;
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
}


.redbtn_focus{
color: #fff !important;
background-color: #ff4d4f !important;
border-color: #ff4d4f !important;

}
