.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 50px;
    background: rgba(255, 255, 255, .2);
    margin: 10px 16px;
}

.logo {
  height: 50px;
  position: relative;
  line-height: 20px;
  padding-left: (50px - 32px) / 2;
  transition: all 0.3s;
  background: #172E42;
  overflow: hidden;
}

.logo > img {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  padding: 5px;
}
.logo > h2 {
  color: white;
  display: inline-block;
  vertical-align: middle;
  font-size: 23px;
  margin: 0 0 0 12px;
  font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 600;
}

.avatar {
  position: relative;
  left: 100%;
  margin: 0 10px;
}

.main_color {
    background-color: #172E42;
}

@keyframes ldsripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
@-webkit-keyframes ldsripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldsripple {
  position: relative;
}
.ldsripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldsripple div:nthchild(1) {
  border-color: #8cd0e5;
}
.ldsripple div:nthchild(2) {
  border-color: #376888;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.ldsripple {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.loading{
  text-align: center;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

@media only screen and (max-width:1004px) {
  .name {
      display: none !important;
  }
}

@media only screen and (max-width:768px) {
}
