.loginBtn {
    padding: 0;
    height: 50px;
    width: 100px;
    margin: 20px 15px 0 0;
    color: rgba(0, 26, 48, 0.5)
}

.dashBtn {
    padding: 0;
    height: 50px;
    width: 100px;
    margin: 20px 15px 0 0;
    background-color: #4797ff !important;
    color: rgb(0, 0, 0) !important;
}

.need {
    text-align: center;
    -webkit-animation: fadeInUp 2s;
    -webkit-animation-fill-mode: forwards;
}

.cover {
    background-color: #ffffffab;
    width: 100%;
    height: 100%;
}

.pic {
    position: absolute;
    left: -4%;
    bottom: -39%;
    width: 35%;
}

.pc {
    position: absolute;
    right: -5%;
    bottom: -205px;
    width: 65%;
}

.mb {
    margin-bottom: 100px;
}

.spin>.ant-spin .ant-spin-text {
    font-size: 30px;
}

.menuBtn {
  padding: 0;
  height: 50px;
  width: 140px;
  margin: 20px 15px 0 0;
  background-color: #4797ff;
  font-size: 30px;
}

.notLoginmenuBtn {
  padding: 0;
  height: 50px;
  width: 140px;
  margin: 20px 15px 0 0;
  background-color: #f1f2f3;
  color: #2a558d;
  font-size: 30px;
}

/* .notLoginmenuBtn>*{

} */
